<!DOCTYPE html>
<!--
Name: Minjae Kim
Date: 10.31.2021
Course: CS 355
This is the admin page of our website. It provides basic html layouts of what admin page will contain
-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/acceptreject.css" />
    <link rel="stylesheet" href="../CSS/header.css" />
    <title>Admin Page</title>
  </head>

  <body>
    <header>
      <a href="/" id="logo">
        <img src="https://dyoh0.github.io/chalkboard/public/img/chalkboard.png" alt="A chalkboard" width="55" />
      </a>
      <label for="hamburger">&#9776;</label>
      <input type="checkbox" id="hamburger" />
      <ul id="headerbar">
        <li><a href="/">Home</a></li>
        <li><form action = "/logout?_method=DELETE" method="POST">
        <button type = "submit" id="headerbttn">Log out </button></form></li>
      </ul>
    </header>

    <div class="admintable">
      <p>Users Table</p>
      <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>ID</th>
          <th>Account Type</th>
        </tr>
        <% userdata.forEach((user) => { %>
          <tr>
            <td><%= user.fname%></td>
            <td><%= user.lname %></td>
            <td><%= user.email%></td>
            <td><%= user._id %></td>
            <td><%= user.accounttype %></td>
          </tr>
        <% }) %>
      </table>
    </div>

    <div class="admintable">
      <p>Courses Table</p>
      <table>
        <tr>
          <th>Course ID</th>
          <th>Course Name</th>
          <th>Creator</th>
          <th>Instructors</th>
          <th>Students</th>
        </tr>
        <tr>
          <td>CS 355</td>
          <td>Minjae Kim</td>
          <td>Minjae Kim</td>
          <td>123456789</td>
          <td>Daniel Yoh</td>
        </tr>
        <tr>
          <td>CS 355</td>
          <td>Daniel Yoh</td>
          <td>Daniel Yoh</td>
          <td>234567890</td>
          <td>Minjae Kim</td>
        </tr>

        <% coursedata.forEach((course) => { %>
          <tr>
            <td><%= course._id %></td>
            <td><%= course.coursename%></td>
            <td> <%= course.creatorname%> </td>
            <td><%= course.instructors %></td>
            <td>Not implemented yet</td>
          </tr>
        <% }) %>

      </table>
    </div>


    <div class="admintable">
      <p>Assignments Table</p>
      <table>
        <tr>
          <th>Assignment ID</th>
          <th>Assignment Name</th>
          <th>Assignment Desc</th>
          <th>Questions</th>
          <th>Answers</th>          
          <th>Due Date</th>
          <th>Course ID</th>
        </tr>
        <% assignmentdata.forEach((assignment) => { %>
          <tr>
            <td><%= assignment._id%></td>
            <td><%= assignment.assignmentname %></td>
            <td><%= assignment.assignmentdesc%></td>
            <td><%= assignment.questions %></td>
            <td><%= assignment.answers %></td>
            <td><%= assignment.duedate %></td>
            <td><%= assignment.courseid %></td>
          </tr>
        <% }) %>
      </table>
    </div>

    <div class="admintable">
      <p>Database Table</p>
      <table>
        <tr>
          <th>User Search Queries</th>
          <th>Results</th>
        </tr>
        <tr>
          <td>Math</td>
          <td>Math</td>
        </tr>
        <tr>
          <td>Bio</td>
          <td>Bio</td>
        </tr>

        <% searchdata.forEach((search) => { %>
          <tr>
            <td><%= search.searchterm%></td>
            <td> Not implemented yet </td>
          </tr>
        <% }) %>

      </table>
    </div>
  </body>
</html>
