<!DOCTYPE html>
<!--
Name: Daniel Yoh
Date: 10.22.2022
Course: CS 355
This is the assignment page of our website.  It displays information about a given 
assignment and questions and fields for the user to type their answers into.
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/assignment.css" />
    <link rel="stylesheet" href="/CSS/header.css" />
    <title>Assignment Page</title>
  </head>
  <body>
    <header>
    <%- include('./partials/header') %>
    </header>

    <h1><%= data.assignmentname %></h1>
    <p class="assignmentdesc">
    <%= data.assignmentdesc %>
    </p>
    <% let formurl = url + '/' + studentid;%>
    <form action=<%= formurl %> method="POST">
      <div class="questionanswermodule">
        <% data.questions.forEach((quest, index) => { %>
          <% const answ = data.answers[index];%>
            <p class="questiontext">Question:
              <span class="question"><%= quest %></span>
            </p>
          <% if (alreadygraded) {%>
            <p>Answer: <%= grades.corrects[index] %></p>
          <% } else if (studentcheck && assigncheck && !alreadygraded) { %>
            <p>Answer: <%= assigncheck.answers[index] %> </p>
          <% } else if (accounttype != "Instructor") { %>
          <label for="answer">Answer:</label>
          <input type="text" id="answer" name="answer" required />
          <% } %>
          <% if (accounttype == "Instructor") { %>
            <p class="questiontext">Answer Key: <%= answ %></p>
          <% } %>
        <% }) %>
      <% if (data.duedate) { %> 
        <p class="questiontext">Due Date:
          <%= data.duedate.getMonth()+1 %>/<%= data.duedate.getDate() %>/<%= data.duedate.getFullYear() %> 
        </p>
      <% }%>
      </div>

      <% if (studentcheck && !assigncheck && !alreadygraded) { %>
        <input type="submit" id="submit" name="submit" />
      <% }  else if (studentcheck && assigncheck && !alreadygraded) { %>
        <p>Submitted</p>
      <% } else if (alreadygraded) { %>
      <p>Feedback: <%= grades.feedback%></p>
      <p>Grade: <%= grades.grade%></p>
      <% }%>

    </form>
  </body>
</html>
