<!DOCTYPE html>
<!--
Name: Daniel Yoh
Date: 10.22.2022
Course: CS 355
This is the course page of our website that displays information about a course, a button 
to send an enroll request, and a navbar showing assignment links for enrolled students.
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/course.css" />
    <link rel="stylesheet" href="../CSS/header.css" />
    <title>Course Page</title>
  </head>
  <body>
    <header>
    <%- include('./partials/header') %>
    </header>

    <h1><%= data.coursename %></h1>
    </p>
    <main>
      <% if (data.assignments && data.assignments.length != 0) { %> 
        <nav id="assignmentlist">
          <h2>Assignments</h2>
          <ul id="assignments">
            <% assignmentdata.forEach((assignment) => { %>
              <% var urlplus = url + "/assignment/" + assignment.id; %>
              <li><a href= <%=urlplus%> > 
              <%= assignment.assignmentname %>
              </a></li>
            <% }) %>
          </ul>
        </nav>
      <% } %>
      <p class="coursedesc"><%= data.coursedesc %></p>
    </main>
    <% if (!enrolled) { %> 
      <form action="/course/<%= data.id %>" method="POST">
        <input type="submit" name=<%= data.id %> value="Enroll" type="button" id="enrollbttn">
      </form>
    <% } %>
  </body>
</html>
