<!DOCTYPE html>
<!--
Name: Daniel Yoh
Date: 11.15.2021
Course: CS 355
This is a list of assignments to grade. 
-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/gradelist.css" />
    <link rel="stylesheet" href="../CSS/header.css" />
    <script src="../JS/gradelist.js" defer></script>
    <title>List of Grades Page</title>
  </head>

  <body>
    <header>
    <%- include('./partials/header') %>
    </header>

    <div class="acceptrejecttable">
      <h1>To Be Graded Page</h1>
      <table>
        <tr>
          <th>Student ID</th>
          <th>Course ID</th>
          <th>Assignment ID</th>
          <th>Grading</th>
        </tr>
          <tr>
            <% assigndata.forEach((assgn) => { %>
              <% let url = '/course/' + assgn.courseid + '/assignment/' + assgn.assid + '/' + assgn.studentid%>
              <td><%= assgn.studentid%></td>
              <td><%= assgn.courseid%></td>
              <td><%= assgn.assid%></td>
              <td>
              <button onclick="window.location='<%= url %>';">Grade</button>
              </td>
            </tr>
            <% }) %>
          </tr>

      </table>
    </div>
  </body>
</html>
