<!DOCTYPE html>
<!--
Name: Daniel Yoh
Date: 10.11.2022
Course: CS 355
This is the search and search results page of our website.  People can search for courses here and the page
will display results matching their search string.
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/searchresults.css" />
    <link rel="stylesheet" href="../CSS/header.css" />
    <script src="/JS/search.js"></script>
    <title>Search Results</title>
  </head>

  <body>
    <header>
    <%- include('./partials/header') %>
    </header>

    <div id="searchbar">
      <img src="../img/magnifying-glass-ga7dc5fc0e_640.jpg" alt="A magnifying glass" width="25" />
        <input type="text" id="searchterm" name="searchterm" placeholder="Search for Courses" />
        <button type="button" id="search" name="search" value="searchbutton">Search</button>
    </div>

    <main>
    <% if (data) { %> 
      <h1>
        Search results for:
        <span id="spansearchterm"><%= search%></span>
      </h1>
        <ul class="list">
          <% data.forEach((result) => { %>

            <li class="classchoice">
              <p>
                <% let link = "/course/" + result.id %>
                <a href = <%= link %> >
                <%= result.coursename %> </a> - 
                <span class="classdesc">
                <% if(result.coursedesc.length > 90) var result = result.coursedesc.substring(0,90) + "...";%>
                <%= result %>
                </span>
              </p>
            </li>

          <% }) %>
        </ul>
    <% } %>
    </main>
  </body>
</html>
